body{
   
    
    background-color: #282828;
}
/*.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: rgb(5, 5, 5);
}*/
.navbar{
    padding-top: 5px;
}
.navbar-brand{
    padding-left: 10px;
    padding-top: 10px;
}
.nav-item{
    padding: 10px;
}
.nav-item:hover{
    background-color: teal;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/1155083.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.myheader{
    text-align: center;
    height: 500px;
    padding: 0;
    background-color: transparent;
}


.myheader .style h1{
    text-align: center;
    margin: 100;
    color:white;
    padding-top: 90px;
    font-size: 70px;
}
.myheader .style p{
    text-align: center;
    margin: 100;
    padding-top: 100px;
    color: white;
    font-size: 50px;
}
.container{
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 90px auto 0;
    padding-left: 60px;
    padding-right: 20px;
    
   
    
}
.container .box{
    position: relative;
    width:200px;
    height: 200px;
    background: #000;
    float: left;
    margin: 28px;
    /*box-sizing: border-box;*/
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,.8);
    border-radius: 50%;
}
.container .box:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
   /* border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;*/
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;

}
.container .box:hover:before{
    transform: scaleX(1);
    opacity: 1;
}

.container .box:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    /*border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;

}
.container .box:hover:after{
    transform: scaleY(1);
    opacity: 1;
}
.container .box:hover{
    opacity: 1;
}
.container .box .imgBox{
    position:relative;

}
.container .box .imgBox img{
    width: 100%;
    transition: 0.5s;
}
.container .box:hover .imgBox img{
    opacity: .2;
    transform: scale(1.2);
}
.container .box .content {
    
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.container .box .content h2{
    font-size: 20px;
    text-align: center;
    margin:0 0 10px;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
    
}
.container .box .content .profile-icons,
.container .box .content .github-icons
{
    margin:0;
    padding: 0;
   transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    height: 20px;
    width: 20px;
} 
.container .box:hover .content h2,
.container .box:hover .content .profile-icons,
.container .box:hover .content .github-icons
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: .2s;
    
}

    